python-dotenv
git+https://github.com/benediktstroebl/smolagents.git@tool_parsing_error
litellm
slack_sdk
agentslack==1.0.4
pandas
scikit-learn
autogen-agentchat>=0.4.5
autogen-ext[magentic-one,openai]>=0.4.5
rich>=13.9.4




